{% layout 'layout.liquid' %}
{% block content %}
<h1 class="display 4">Welcome To The Product App</h1>
    <div class="btn-group btn-group-lg">
        <a href="/user/signup" class="btn btn-success">Sign Up</a>
        <a href="/user/login" class="btn btn-success">Login</a>
    </div>
{% endblock %}